body {
  background-color: var(--background);
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

header {
  border-bottom: 1px solid #2c2533;
  max-height: 75px;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-size: 50px;
  margin: 0;
}

header h1 a {
  color: var(--text);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
}

a {
  text-decoration: none;
}

header button {
  width: 3em;
  height: 2.3em;
  margin: 0.5em;
  background: var(--primary);
  color: black;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.25s cubic-bezier(0, 0, 0, 1);
}

header button:hover {
  color: white;
}

header button:after {
  content: "";
  background: var(--secondary);
  position: absolute;
  z-index: -1;
  left: -25%;
  right: -25%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

header button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
}

header button.shop {
  width: 5em;
  background: var(--accent);
  color: white;
}

header button.shop:after {
  left: -20%;
  right: -20%;
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: calc(100vh / 4) calc(100vw / 6);
}

main h2 {
  margin-top: 0;
}

main h4 {
  color: var(--primary);
  font-size: 20px;
  margin-bottom: 0;
}

img.nitro {
  z-index: -1;
  animation: wumpus 5s ease-in-out infinite;
}

@keyframes wumpus {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/** Shop  */
main.shop {
  margin-top: 100px;
  margin-bottom: 150px;
}

main.shop h3 {
  text-align: center;
}

.package {
  width: 245px;
  height: 254px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  width: 215px;
  height: 224px;
  background-color: #1d1724;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package2 a {
  cursor: pointer;
  color: #ff89ff;
  transition: color 0.25s cubic-bezier(0, 0, 0, 1);
}

.package2 a:hover {
  color: #ff00ff;
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.package4 {
  margin-right: 25px;
}

div h5 {
  margin: 0;
  margin-bottom: 15px;
}

button.buy {
  align-items: center;
  background-image: linear-gradient(144deg, #5340ff, #d042f3 50%, #eb0047);
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 5px 30px -5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 210px;
  padding: 3px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

button.buy:active,
button.buy:hover {
  outline: 0;
}

button span {
  background-color: var(--background);
  padding: 8px 16px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: background 0.25s cubic-bezier(0, 0, 0, 1);
}

button span.price {
  background: none;
  width: 50px;
  color: #000;
  font-weight: 900;
  transform: translateY(2px);
}

button span.price.old {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.67);
  padding: 0;
  padding-left: 7.5px;
  margin-right: -12.5px;
}

button.buy:hover span {
  background: none;
}

button.buy:active {
  transform: scale(0.97);
}

.package .lower {
  transform: translateY(88px);
}

.ribbon {
  background: linear-gradient(90deg, #c81d77, #6710c2);
  background-size: 400%;
  border-radius: 5px;
  padding: 2px 5px 0 5px;
  transform: translate(150px, -60px) rotate(-5deg);
  margin-bottom: -20px;
  animation: rotate 7.5s ease-in-out infinite,
    gradient 7.5s ease-in-out infinite;
  transition: box-shadow 0.25s cubic-bezier(0, 0, 0, 1);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.ribbon:hover {
  box-shadow: 0px 0px 25px 0px rgba(200, 29, 119, 0.5);
}

.ribbon.bad {
  background: linear-gradient(90deg, #c11e38, #220b34);
  background-size: 400%;
}

.ribbon.bad:hover {
  box-shadow: 0px 0px 25px 0px rgba(193, 30, 56, 0.5);
}

@keyframes rotate {
  0% {
    transform: translate(150px, -60px) rotate(-10deg);
  }
  50% {
    transform: translate(150px, -60px) rotate(0deg);
  }
  100% {
    transform: translate(150px, -60px) rotate(-10deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*? Testimonials */
main.testimonials {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 100px;
}

.testimonials .card {
  background-color: #1d1724;
  padding: 2rem;
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.testimonials .card:hover {
  box-shadow: 0 30px 40px -12px rgba(5, 5, 5, 0.5);
  transform: scale(1.01);
}

.testimonials .header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.testimonials .header .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-image: url("/assets/img/noPfp.webp");
}

.testimonials .stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
}

.testimonials .stars img {
  height: 1rem;
  width: 1rem;
}

.testimonials .name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.testimonials .message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
}

.testimonials .product {
  position: absolute;
  transform: translateY(-25px);
  font-size: small;
  font-weight: 300;
}

.testimonials .card:nth-child(1) .image {
  background-image: url("/assets/img/pfp1.webp");
  background-size: 64px 64px;
}

.testimonials .card:nth-child(2) .image {
  background-image: url("/assets/img/pfp2.webp");
  background-size: 64px 64px;
}

.testimonials .card:nth-child(3) .image {
  background-image: url("/assets/img/pfp3.gif");
  background-size: 64px 64px;
}

/*^ FAQ */
main.faq {
  margin: 0 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}

div.faq {
  max-width: calc(100vw / 3.33);
}

.faq h2 {
  text-align: center;
}

.question {
  color: var(--q);
}

.answer {
  color: var(--a);
}

.answer a {
  color: #ac4a8e;
  transition: color 0.25s cubic-bezier(0, 0, 0, 1);
}

.answer a:hover {
  color: #b32287;
}

/*^ Small screens */
@media only screen and (max-width: 1610px) {
  /** Shop */
  main.shop .grid.four {
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 1220px) {
  /** Shop */
  main.shop .grid.three {
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 980px) {
  img.nitro {
    position: absolute;
    /* top: calc(50vh - 67px); */
    right: 0;
    opacity: 0.75;
  }
}

@media only screen and (max-width: 800px) {
  /** Shop */
  main.shop .grid.three {
    margin-bottom: 550px;
  }

  main.shop .grid.four {
    margin-bottom: 825px;
  }
}

/*^ Phone View */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 33px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    max-width: 550px;
    min-height: 187px;
  }

  main h2 {
    font-size: xx-large;
  }

  main h3 {
    text-align: center;
  }

  main h4 {
    font-size: medium;
    margin: 0;
  }

  img.nitro {
    height: 200px;
    width: auto;
    position: absolute;
    top: 195px;
    right: 0;
    z-index: -1;
    opacity: 0.75;
  }

  h2.title {
    font-size: 3.33rem;
    margin-top: 63px;
  }

  /*? Testimonials */
  main.testimonials {
    margin-bottom: 0;
  }

  /** Shop */
  main.shop {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  main.shop .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 25px;
    margin-bottom: 825px;
  }

  main.shop .grid.three {
    margin-bottom: 550px;
  }

  .ribbon.bad {
    margin-left: -33px;
  }

  /*^ FAQ */
  div.faq {
    max-width: none;
  }
}
