body {
  background-color: var(--background);
  margin: 0;
}

header {
  border-bottom: 1px solid #2c2533;
  max-height: 75px;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-size: 50px;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
}

header button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: var(--accent);
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.25s cubic-bezier(0, 0, 0, 1);
}

header button:hover {
  color: black;
}

header button:after {
  content: "";
  background: var(--primary);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

header button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: calc(100vh / 4) calc(100vw / 6);
}

main h2 {
  margin-top: 0;
}

main h4 {
  color: var(--primary);
  font-size: 20px;
  margin-bottom: 0;
}

main .nitro {
  width: 500px;
  height: auto;
}

main.shop {
  margin-top: 100px;
  margin-bottom: 150px;
}

.shop .grid {
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 25px;
}

.shop .grid .center {
  grid-column: span 3;
  display: flex;
  justify-content: center;
}

.package {
  width: 245px;
  height: 254px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  width: 215px;
  height: 224px;
  background-color: #1d1724;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.package4 {
  margin-right: 25px;
}

div h5 {
  margin: 0;
  margin-bottom: 15px;
}

button.buy {
  align-items: center;
  background-image: linear-gradient(144deg, #5340ff, #d042f3 50%, #eb0047);
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 5px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 210px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

button.buy:active,
button.buy:hover {
  outline: 0;
}

button span {
  background-color: var(--background);
  padding: 8px 16px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: background 0.25s cubic-bezier(0, 0, 0, 1);
}

button.buy:hover span {
  background: none;
}

button.buy:active {
  transform: scale(0.97);
}

.package .lower {
  transform: translateY(88px);
}

span.deal {
  text-decoration: line-through;
  background: none;
}

/*? Testimonials */

main.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 100px;
}

.testimonials .card {
  background-color: #1d1724;
  padding: 2rem;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
  max-width: 350px;
  min-width: 250px;
  transition: box-shadow 0.25s cubic-bezier(0, 0, 0, 1);
}

.testimonials .card:hover {
  box-shadow: 0 30px 40px -12px rgba(5, 5, 5, 0.5);
}

.testimonials .header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.testimonials .header .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: royalblue;
}

.testimonials .stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
}

.testimonials .stars img {
  height: 1rem;
  width: 1rem;
}

.testimonials .name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.testimonials .message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
}

.testimonials .card:nth-child(1) .image {
  background-image: url("/assets/img/pfp1.webp");
  background-size: 64px 64px;
}

.testimonials .card:nth-child(2) .image {
  background-image: url("/assets/img/pfp2.webp");
  background-size: 64px 64px;
}

.testimonials .card:nth-child(3) .image {
  background-image: url("/assets/img/pfp3.webp");
  background-size: 64px 64px;
}

/*~ FAQ */

main.faq {
  margin: 0 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.question {
  color: var(--primary);
}

.answer {
  color: var(--secondary);
}

/*^ Phone View */

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 33px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    max-width: 550px;
    min-height: 187px;
  }

  main h2 {
    font-size: xx-large;
  }

  main h4 {
    font-size: medium;
    margin: 0;
  }

  main .nitro {
    height: 200px;
    width: auto;
    position: absolute;
    top: 195px;
    right: 0;
    z-index: -1;
    opacity: 0.75;
  }

  h2.title {
    font-size: 3.33rem;
    margin-top: 63px;
  }

  /** Shop */
  .grid {
    display: flex;
    flex-direction: column;
  }

  .package4 {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .package5 {
    margin-bottom: 75px;
  }

  /*~ FAQ */

  .answer.last {
    margin-bottom: 35px;
  }
}
