@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anek+Gujarati:wdth,wght@75..125,100..800&display=swap");

:root {
  --text: #eae3f3;
  --background: #140c1c;
  --q: #bca3d7;
  --a: #793464;
  --primary: #9575ff;
  --secondary: #a631c0;
  --accent: #cc326f;
}

body,
button {
  font-family: "Anek Gujarati";
  font-weight: 400;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Alexandria";
  font-weight: 700;
  color: var(--text);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 5.652rem; /* 90.4px */
}

h2 {
  font-size: 3.997rem; /* 64px */
}

h3 {
  font-size: 2.827rem; /* 45.28px */
}

h4 {
  font-size: 1.999rem; /* 32px */
}

h5 {
  font-size: 1.414rem; /* 22.56px */
}

small {
  font-size: 0.707rem; /* 11.36px */
}
